body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.base{
    background-color:rgb(214, 245, 245);
    position: relative;    
    padding-top: 95px;
}

h1{
    margin-top: 2px;
    font-family: 'Sacramento', cursive;
    font-size: 5.2rem;
    margin: auto;
    color: #66BFBF;
    line-height: 1.4;
    
}

h2{
    font-family: 'Montserrat', sans-serif ;
    margin: auto;
    font-size: 1.5em;
    color: #66BFBF;
    font-weight: normal;
}

h3,a{
    font-family: 'Montserrat', sans-serif ;
    color: #11999E;

}
 
.top-cloud{
    position: absolute;
    left: 60%;
    /* left: 570px; */
    top: 15%   
}

.bottom-cloud{
    position: absolute;
    top: 36%;
    left: 20%;
}

.profile-pic{
    border-radius:25%;
    margin-top: 35px;
    margin-bottom: 10px;
}
hr{
    margin: 25px 0 35px 0;
}

.msg{
    font-size:medium;
    margin-top: 25px;  
}

.mynavimg{
     border-radius: 50%;
     margin: 0;
 }

 .mynav{
     background-color: rgb(214, 245, 245);
     padding: 0px 2px;
 }